body {
	background: #009933;
}

#player_2 {
	  padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	position: absolute;
	top: 50%;
	left: 2%;
	
	 
	
}

#player_1 {
	position: absolute;
	bottom: 2%;
	left: 50%;
  padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


#player_3 {
position: absolute;
	top: 2%;
	left: 50%;
	  padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	
}

#player_4 {
	position: absolute;
	top: 50%;
	right: 2%;
  padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
#state_auction{
	position: absolute;
	top: 2%;
	left: 2%;
	  padding:5px 15px; 
    background:#ccc; 
    border:1;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
#bet{
	position: absolute;
	top: 50%;
	left: 50%;
	
}
#make{
	position: absolute;
	top: 55%;
	left: 56%;

}
#pas{
	position: absolute;
	top: 55%;
	left: 50%;

}
#form{
	  padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
position: absolute;
	top: 40%;
	left: 40%;
	
}

#exit{
	  padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
position: absolute;
	top: 2%;
	right: 2%;
}


input {
    padding:5px 15px; 
    background:#ccc; 
    border: 1px solid;
  
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}